
.app-background {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./src/assets/Screenshot 2025-02-12 100244.png'); /* Thay đường dẫn ảnh tại đây */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-password-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-field {
  width: 85%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.forgot-password {
  text-align: right;
  color: #7c3aed;
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #a78bfa;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  font-size: 14px;
  color: #aaa;
}

.social-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.google-button {
  border: 1px solid #ccc;
}

.facebook-button {
  border: 2px dashed #f87171;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}